<main>
  <div class="container">
    <div class="row">
       <p id ="notice">
         <%= flash[:notice] %>
       </p>
       <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
           <div class="errors">
             <% if @post.errors.any? %>
                <%= @post.errors.count %>件のエラー
                <u1>
                  <% @post.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                  <% end %>
                </u1>
             <% end %>
         </div>

         <h1>Edit　Post</h1>

          <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
            
            <div class="field">
              <label for="image">画像</label>
              <div><%= f.file_field :image, accept: "image/*" %></div>
            </div>
            <div class="field">
               <label for="shop_name">ショップ名</label>
               <div><%= f.text_field :shop_name, placeholder:"ショップ名を入力", size: "58" %></div>    
            </div>

            <div class="field">
               <label for="caption">説明文</label>
               <div><%= f.text_area :caption, placeholder:"あなたの好きを共有してみんなに共有しよう", size: "60" %></div>
            </div>
  
            <div class="form-group">
              <input type="submit" name="commit" value="更新" class="btn btn-primary" data-disable-with="更新中">
            </div>
  
            <%= link_to "マイページへ戻る", user_path(@post.user.id), class: "link-custom hoge" %></br>
         <% end %>
</main>