
  <div class="container px-5 px-sm-0">
    <div class="row">
      <p id="notice">
         <%= flash[:notice] %>
      </p>
      <img src="<%= asset_path('hilla-5419527_1280.jpg') %>" alt="画像の説明">

      <div class="col-md-10 offset-md-1 text-wrap" style="word-wrap: break-word;">
        <h2>TIME LINE</h2>

        <% @posts.each do |post| %>
          <div>
            <%= link_to user_path(post.user), class: "custom-link" do %>
                <%= image_tag post.user.get_profile_image(70, 70), class: "mt-3 rounded-circle" %>
                <%= post.user.name %>
            <% end %>

            <div class="border-bottom mt-4 mb-4">
             <%= render 'public/users/post', post: post %>
            </div>
          </div>
        <% end %>

        <div class="item__paginate">
          <%= paginate @posts %>
        </div>

      </div>
    </div>
  </div>
