<p id ="notice">
    <%= flash[:notice] %>
</p>
    <div class="containar px-sm-8">
         <div class="row mx-5 mx-auto justify-content-center  taxt-wrap" style="word-wrap: break-word;">
                    
                    　<div class="errors">
                          <% if @post.errors.any? %>
                              <%= @post.errors.count %>件のエラー %>
                              <div>
                                 <% @post.errors.full_messages.each do |message| %>
                                    <p><%= message %></p>
                                 <% end %>
                              </div>
                          <% end %>
                      </div>
                      <% if @post.get_image.present? %>
                     
                             <% @post.get_image.each do |image| %>
                                 <div class="col-md-5">
                                     <%= image_tag url_for(image), size: "450x450", class: "img-fluid" %>
                                 </div>
                     
                                     <div class="col-md-4">
                                         <%= link_to user_path(@post.user), class: "custom-link" do %>
                                            <%= image_tag @post.user.get_profile_image(70,70), class: "mt-3 rounded-circle"; %>
                                            <%= @post.user.name %>
                                         <% end %>
                                         <h5><%= @post.caption %></h5>
                                         <p>ショップ名: <%= @post.shop_name %></p>
                                         <p>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %></p>

                                         <% if @post.user == current_user %>
                                                <td><%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
                                                <td><%= link_to "Destroy", post_path(@post), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %></td>

                                         <% end %>

                                         <% if @post.favorited_by?(current_user) %>
                                                <p>
                                                       <%= link_to post_favorite_path(@post),class:"link-custom", method: :delete do %>
                                                                <i class="fa-solid fa-thumbs-up"></i><%= @post.favorites.count %> いいね
                                                       <% end %>
                                                </p>
                                         <% else %>
                                                <p>
                                                       <%= link_to post_favorite_path(@post),class:"link-custom", method: :post do %>
                                                                <i class="fa-regular fa-thumbs-up"></i> <%= @post.favorites.count %> いいね
                                                       <% end %>
                                                </p>
                                         <% end %>

                                         <div>
                                                <%= form_with model: [@post, @post_comment] do |f| %>
                                                        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", size: "60" %><br>
                                                         <div class="form-group">
                                                                 <input type="submit" name="commit" value="送信する" class="btn btn-primary" data-disable-with="送信中">
                                                         </div>
                                                <% end %>
                                         </div>
                                         </div>
                                          <div class="col-md-2">
                                                <p>コメント件数：<%= @post.post_comments.count %></p>
                                                <% @post.post_comments.each do |post_comment| %>
                                                       
                                                          <%= link_to user_path(post_comment.user), class: "custom-link" do %>
                                                               <%= image_tag post_comment.user.get_profile_image(50,50), class: "mt-3 rounded-circle"; %>
                                                               <%= post_comment.user.name %>
                                                          <% end %>
                                                          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                                                          <div class="ps-5">
                                                              <%= post_comment.comment %>
                                                          </div>
                                                       
                                                       <% if post_comment.user == current_user %>
                                                                <br><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
                                                       <% end %>
                                                       <div class="border-bottom mt-4 mb-4"></div>
                                                <% end %>
                                         </div>
                             <% end %>

                     <% else %>
                                      
                                         <%= link_to post_path(@post.id) do %>
                                                <p></p>
                                         <% end %>

                                         <div class="col-md-6 px-3">
                                              <%= link_to user_path(@post.user), class: "custom-link" do %>
                                                   <%= image_tag @post.user.get_profile_image(70,70), class: "mt-3 rounded-circle"; %>
                                                   <%= @post.user.name %>
                                              <% end %>
                                              <h5><%= @post.caption %></h5>
                                              <p>ショップ名: <%= @post.shop_name %></p>
                                              <p>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %></p>

                                         <% if @post.user == current_user %>
                                                 <td><%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
                                                 <td><%= link_to "Destroy", post_path(@post), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %></td>

                                         <% end %>

                                         <% if @post.favorited_by?(current_user) %>
                                                 <p>
                                                        <%= link_to post_favorite_path(@post),class:"link-custom", method: :delete do %>
                                                                <i class="fa-solid fa-thumbs-up"></i><%= @post.favorites.count %> いいね
                                                        <% end %>
                                                 </p>
                                         <% else %>
                                                 <p>
                                                        <%= link_to post_favorite_path(@post),class:"link-custom", method: :post do %>
                                                                <i class="fa-regular fa-thumbs-up"></i> <%= @post.favorites.count %> いいね
                                                        <% end %>
                                                 </p>
                                         <% end %>


                                         <div>
                                                 <%= form_with model: [@post, @post_comment] do |f| %>
                                                         <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", size:"68" %>
                                                         <div class="form-group">
                                                                 <input type="submit" name="commit" value="送信する" class="btn btn-primary" data-disable-with="送信中">
                                                         </div>
                                                 <% end %>
                                         </div>
                                         </div>

                                          <div class="col-md-4">
                                                 <p>コメント件数：<%= @post.post_comments.count %></p>
                                                 <% @post.post_comments.each do |post_comment| %>
                                                         
                                                            <%= link_to user_path(post_comment.user), class: "custom-link" do %>
                                                                <%= image_tag post_comment.user.get_profile_image(50,50), class: "mt-3 rounded-circle"; %>
                                                                <%= post_comment.user.name %>
                                                            <% end %>
                                                            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                                                            <div class="ps-5">
                                                                <%= post_comment.comment %>
                                                            </div>
                                                         <% if post_comment.user == current_user %>
                                                                 <br><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
                                                         <% end %>
                                                         <div class="border-bottom mt-4 mb-4"></div>
                                                 <% end %>
                                         </div>
                                    

                     <% end %>




    </div>

</div>