<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor), class:"link-custom" do %>
          <%= image_tag visitor.avatar_url, class: "icon_mini" %>
          <strong><%= visitor.name %></strong>
      <% end %>
      さんが

      <% case notification.action %>
      <% when 'follow' %>
        あなたをフォローしました
      <% when 'favorite' %>
        <%= link_to 'あなたの投稿', notification.post, class:"link-custom", style: "font-weight: bold;" %>
        にいいねしました
      <% when 'post_comment' %>
        <%= link_to "あなたの投稿", notification.post, class:"link-custom", style: "font-weight: bold;" %>
        にコメントしました
      <% end %>
    </span>
    <p class="text-muted mb-0">
      <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
    </p>
  </div>
  
  <div class="small text-muted text-right">
     <% time_difference = Time.current - notification.created_at %>
     <% years = (time_difference / 1.year).floor %>
     <% months = (time_difference / 1.month).floor %>
     <% weeks = (time_difference / 1.week).floor %>
     <% days = (time_difference / 1.day).floor %>
     <% hours = (time_difference / 1.hour).floor %>
     <% minutes = (time_difference / 60).floor %>

     <% time_ago = 
        if years > 0
          "#{years}年#{months % 12}ヶ月前"
        elsif months > 0
          "#{months}ヶ月#{weeks % 4}週間前"
        elsif weeks > 0
          "#{weeks}週間#{days % 7}日前"
        elsif days > 0
          "#{days}日#{hours % 24}時間前"
        elsif hours > 0
          "#{hours}時間#{minutes % 60}分前"
        else
          "#{minutes}分前"
         end %>

     <%= time_ago.upcase %>
  </div>
  <hr>
</div>