<div>
  
  <%= image_tag @user.get_profile_image(120, 120) %>
  <h4><%= @user.name %></h4>
  <tr>introduction <%= @user.introduction %></tr>
   <% if @user == current_user %>
     <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
   <% end %>
</div>

<% @posts.each do |post| %>
<div>
  <% if post.get_image.present? %>
    <% post.get_image.each do |image| %>
      <%= link_to post_path(post.id) do %>
        <%= image_tag url_for(image), size: "200x200" %>
      <% end %>
      <p><%= image_tag @post.user.get_profile_image(70,70) %> <%= @post.user.name %></p>
      <p>ショップ名: <%= @post.shop_name %></p>
      <p>説明: <%= @post.caption %></p>
      <p>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %></p>
    <% end %>
   <% else %>
    <%= link_to post_path(post.id) do %>
        <p>画像なし</p>
      <% end %>
      <p><%= image_tag post.user.get_profile_image(70,70) %>  <%= post.user.name %></p>
      <p>ショップ名: <%= post.shop_name %></p>
      <p>説明: <%= post.caption %></p>
      <p>投稿日時: <%= post.created_at.strftime('%Y/%m/%d') %></p>

  <% end %>
</div>
<% end %>