<p id ="notice">
    <%= flash[:notice] %>
</p>
　　
　　　　　<div class="errors">
             <% if @post.errors.any? %>
                <%= @post.errors.count %>件のエラー
                <u1>
                  <% @post.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                  <% end %>
                </u1>
             <% end %>
         </div>


<h1>画像投稿フォーム</h1>
<%= form_with model: @post do |f| %>
  <p>Image</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>Shop Name</p>
  <%= f.text_field :shop_name %>
  <p>Introduction</p>
  <%= f.text_area :caption %><br>
  <%= f.submit '投稿' %>
<% end %>