<p id ="notice">
    <%= flash[:notice] %>
</p>
    <div class="containar px-5 px-sm-8">
         <div class="row">
              
 
   
                     <% if @post.get_image.present? %>
                     <div class="col-md-5 offset-md-1">
                             <% @post.get_image.each do |image| %>
                                     <%= link_to post_path(@post.id) do %>
                                            <%= image_tag url_for(image), size: "500x500" %>
                                     <% end %>
                                     </div>
                                     <div class="col-md-5">
                                         <p><%= image_tag @post.user.get_profile_image(70,70) %> <%= @post.user.name %></p>
                                         <p>ショップ名: <%= @post.shop_name %></p>
                                         <p>説明: <%= @post.caption %></p>
                                         <p>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %></p>
                                     
                                         <% if @post.user == current_user %>
                                                <td><%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
                                                <td><%= link_to "Destroy", post_path(@post), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %></td>

                                         <% end %>
 
                                         <% if @post.favorited_by?(current_user) %>
                                                <p>
                                                       <%= link_to post_favorite_path(@post), method: :delete do %>
                                                                <i class="fa-solid fa-thumbs-up"></i><%= @post.favorites.count %> いいね
                                                       <% end %>
                                                </p>
                                         <% else %>
                                                <p>
                                                       <%= link_to post_favorite_path(@post), method: :post do %>
                                                                <i class="fa-regular fa-thumbs-up"></i> <%= @post.favorites.count %> いいね
                                                       <% end %>
                                                </p>
                                         <% end %>
                                         <div>
                                                <p>コメント件数：<%= @post.post_comments.count %></p>
                                                <% @post.post_comments.each do |post_comment| %>
                                                       <p><%= image_tag post_comment.user.get_profile_image(50,50) %></p>
                                                       <%= post_comment.user.name %>
                                                       <%= post_comment.created_at.strftime('%Y/%m/%d') %><br><%= post_comment.comment %>
                                                       <% if post_comment.user == current_user %>
                                                                <br><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
                                                       <% end %>
                                                <% end %>
                                         </div>
                                         <div>
                                                <%= form_with model: [@post, @post_comment] do |f| %>
                                                        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %><br>
                                                         <div class="form-group">
                                                                 <input type="submit" name="commit" value="送信する" class="btn btn-primary" data-disable-with="送信中">
                                                         </div>
                                                <% end %>
                                         </div>
                             <% end %>
                                     </div>
                     <% else %>
                            <div class="col-md-5 offset-md-1 mx-auto">
                                         <%= link_to post_path(@post.id) do %>
                                                <p></p>
                                         <% end %>
                            
                                         <p><%= image_tag @post.user.get_profile_image(70,70) %> <%= @post.user.name %></p>
                                         <p>ショップ名: <%= @post.shop_name %></p>
                                         <p>説明: <%= @post.caption %></p>
                                         <p>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %></p>
                     
                                         <% if @post.user == current_user %>
                                                 <td><%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
                                                 <td><%= link_to "Destroy", post_path(@post), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %></td>

                                         <% end %>
 
                                         <% if @post.favorited_by?(current_user) %>
                                                 <p>
                                                        <%= link_to post_favorite_path(@post), method: :delete do %>
                                                                <i class="fa-solid fa-thumbs-up"></i><%= @post.favorites.count %> いいね
                                                        <% end %>
                                                 </p>
                                         <% else %>
                                                 <p>
                                                        <%= link_to post_favorite_path(@post), method: :post do %>
                                                                <i class="fa-regular fa-thumbs-up"></i> <%= @post.favorites.count %> いいね
                                                        <% end %>
                                                 </p>
                                         <% end %>
                                         <div>
                                                 <p>コメント件数：<%= @post.post_comments.count %></p>
                                                 <% @post.post_comments.each do |post_comment| %>
                                                         <p><%= image_tag post_comment.user.get_profile_image(50,50) %></p>
                                                         <%= post_comment.user.name %>
                                                         <%= post_comment.created_at.strftime('%Y/%m/%d') %><br><%= post_comment.comment %>
                                                         <% if post_comment.user == current_user %>
                                                                 <br><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" %>
                                                         <% end %>
                                                 <% end %>
                                         </div>
                                         <div>
                                                 <%= form_with model: [@post, @post_comment] do |f| %>
                                                         <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                                                         <div class="form-group">
                                                                 <input type="submit" name="commit" value="送信する" class="btn btn-primary" data-disable-with="送信中">
                                                         </div>
                                                 <% end %>
                                         </div>
                            </div>
                     <% end %>
                             
                     
                     
          </div>
    </div>
  
