<!-- _post.html.erb -->
<div>
    <% if post.get_image.present? %>
         <% post.get_image.each do |image| %>
            <p><%= image_tag url_for(image),  class: "index-post-img", alt: "投稿画像" %></p>
         <% end %>
    <% end %>
    <%= link_to post_path(post.id), class: "custom-link caption-size" do %>
         <%=  simple_format(post.caption, sanitize: true)  %>
    <% end %>
    <p>ショップ名: <%= post.shop_name %></p>
    <p>投稿日時: <%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <div>
    <% if post.favorited_by?(current_user) %>
         <%= link_to post_favorite_path(post), class:"link-custom", method: :delete do %>
             <i class="fa-solid fa-thumbs-up"></i><%= post.favorites.count %> いいね
         <% end %>
    <% else %>
         <%= link_to post_favorite_path(post), class:"link-custom", method: :post do %>
             <i class="fa-regular fa-thumbs-up"></i> <%= post.favorites.count %> いいね
         <% end %>
    <% end %>
    </div>
    <div class="mt-4 mb-4 ">
         <%= link_to post_path(post.id), class:"link-custom" do %>
             <i class="fa-solid fa-comment-dots"></i><%= post.post_comments.count%>コメント
         <% end %>
    </div>
</div>